
.travelPhoto {
  width:100%;
  margin-bottom: 5px;
}

.photoCol:hover .likeStar {
  display:block;
}

.photoCol {
  width: 34%;
  float: left;
  margin: 5px 15px;
}

.likeStar button {
  background-color: transparent;
  border-style: none;
}

.likeStar button:focus {
   outline: none;
 }

.likeStar .fa {
  font-size: 21px;
  cursor: pointer;
  color: #00b3b3;
}

.likeCount {
  color: #888;
  font-size: 11px;
}
.likeStar .fa:hover {
  color: #009a9a;
}

.searchOptions li {
  display: inline-block;
  margin-right: 10px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak] ,.ng-cloak, .x-ng-cloak {
  display:none;
}

header {
  padding-top:15px;
  margin-bottom: 15px;
  height:86px;
  background-color: #668014;
}

header h1 {
  margin: 9px 0 0 41px;;
  color:#fff;
  font-family: 'Satisfy', cursive;
}

header p {
  float: right;
  font-size: 10px;
}

.mainContent {
  overflow: hidden;
  width: 940px;
  margin: 0 auto;
  background-color: #fff;
}

.colorOptions {
  margin-right: 8px;
}

.colorOptions div {
  width: 14px;
  height: 14px;
  margin-right: 2px;
  float: right;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
}

.colorOptions p i {
    font-size: 18px;
    line-height: 16px;
    color:#fff;
}

.yellow {
  background-color: #FFD700;
}
.blue {
  background-color: #436EEE;
}
.orange {
  background-color: #FF8C69;
}
.purple {
  background-color: #5959AB;
}

div.disabled .fa {
  color: red;
}
