<!DOCTYPE html>
<html ng-app="photoApp">
  <head>
    <meta charset="utf-8">
    <title>Travel Photos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css" media="screen" title="no title" charset="utf-8">
    <script src="https://use.fontawesome.com/b0fb5eddc4.js"></script>
  </head>
  <body ng-cloak>
    <h1>Add New Photo</h1>

    <div ng-controller="NewPhotoController">
      <form name="newPhotoForm">
      <fieldset>
        <label for="photoCity">City:</label>
        <input id="photoCity" ng-model="photo.city" required type="text" placeholder="City">
        <label for="photoCountry">Country:</label>
        <input id="photoCountry" ng-model="photo.country" required type="text" placeholder="Country">
        <label for="photoContinent">Continent:</label>
        <input id="photoContinent" ng-model="photo.continent" required type="text" placeholder="Continent">
        <label for="photoUrl">image Url:</label>
        <input id="photoUrl" ng-model="photo.imageUrl" required type="text" placeholder="URL">
        <img ng-src="{{photo.imageUrl}}" src=""/>
        <button ng-disabled="newPhotoForm.$invalid" ng-click="savePhoto(photo, newPhotoForm)" type="submit" class="btn">Save</button>
        <button ng-click="cancelNewPhoto()" type="button" class="btn">Cancel</button>
      </fieldset>
      </form>
    </div>

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <!-- <script src="/lib/angular/angular.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="/lib/angular/angular-sanitize.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/NewPhotoController.js"></script>
    <script src="/js/filters.js"></script>

    </script>
  </body>
</html>
