<!DOCTYPE html>
<html ng-app="photoApp">
  <head>
    <meta charset="utf-8">
    <title>Travel Photos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/b0fb5eddc4.js"></script>
  </head>
  <body ng-cloak>


    <div ng-controller="PhotosController">

      <header class="{{active}}">
        <h1>Travel Album</h1>
        <nav class="{{active}} colorOptions" ng-click="$event.preventDefault()">
          <div href="#" class="orange" ng-click="active='orange'"></div>
          <div href="#" class="purple" ng-click="active='purple'"></div>
          <div href="#" class="blue" ng-click="active='blue'"></div>
          <div href="#" class="yellow" ng-click="active='yellow'"></div>
          <p ng-hide="active"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;</p>
        </nav>
      </header>

      <div class="mainContent">
        <ul class="searchOptions">
        <li>
          Order By:
          <select ng-model="sortorder" class="input-small">
            <option selected value="-likeCount">Most Popular</option>
            <option selected value="country">Country</option>
            <option selected value="city">City</option>
            <option selected value="-dateAdded">Most Recently Added</option>
          </select>
        </li>
        <li>
          Continent:
          <select ng-model="query.continent">
            <option selected value="Africa">Africa</option>
            <option selected value="Antarctica">Antarctica</option>
            <option selected value="Asia">Asia</option>
            <option selected value="Australia">Australia</option>
            <option selected value="Europe">Europe</option>
            <option selected value="North America">North America</option>
            <option selected value="South America">South America</option>
            <option selected value="Central America">Central America</option>
            <option selected value="Europe">Europe</option>
            <option selected value="">View All</option>
          </select>
        </li>

        <li>
          <i class="fa fa-search" aria-hidden="true"></i>
          <input ng-model="query"></input>
        </li>

        <input type="checkbox" ng-model="showDates"> View Travel Dates<br/>



      </ul>

        <div ng-repeat="photo in photos | orderBy:sortorder | filter:query">
            <div class="photoCol">
              <img class="travelPhoto" ng-src="{{photo.imageUrl}}"/>
              <p class="pull-left">{{photo.country}}<span ng-show="showDates"> &middot {{photo.tripDate}}</span> <span class="likeCount"> {{photo.likeCount}} likes</span></p>
              <div class="likeStar pull-right">
                <button id="photo{{photo.id}}" ng-click="like(photo.id)"><i class="fa fa-star" aria-hidden="true"></i></button>
              </div></br>
            </div>
        </div>
      </div> <!-- end MainContent -->
    </div> <!-- end PhotosController -->

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-resource.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
    <script src="/lib/angular/angular-sanitize.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/PhotosController.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/services/PhotoData.js"></script>

    </script>
  </body>
</html>
